.CheckEngineCodes {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.CheckEngineCodes .code-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}